@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
@import url(/css/header.css);
@import url(/css/banner.css);
@import url(/css/carossel.css);
@import url(/css/topicos.css);
@import url(/css/contato.css);


:root{
    --cor-de-fundo: #EBECEE;
    --cor-branco: #FFFFFF;
    --cor-laranja: #EB9B00;
    --cor-azul-escuro: #002f52;
    --cor-gradiente: linear-gradient(160deg, #002F52 0%, #326589 100%);
    --font-padrao: 'Poppins'
}

body{
    background-color: var(--cor-de-fundo);
    font-family: var(--font-padrao);
    font-size: 1em;
    font-weight: 400;
}
.rodape{
    padding: 1em 1em;
    border-top: 1px solid black;
    width: 90%
    bottom: 0;
}

